$title
$operating system unix
$symmetry c2h
$smp_cpus=8
$rirpa
  rpagrad
  npoints 100
  #oorpa 30
  #ldiis
  ips
  rpaprof
  nocartgrad
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-2,11-12                                                                   \
   basis =c def2-TZVPP                                                         \
   cbas  =c def2-TZVPP                                                         \
   jbas  =c def2-TZVPP
h  3-5,8-9,13-15                                                               \
   basis =h def2-TZVPP                                                         \
   cbas  =h def2-TZVPP                                                         \
   jbas  =h def2-TZVPP
o  6-7,10,16                                                                   \
   basis =o def2-TZVPP                                                         \
   cbas  =o def2-TZVPP                                                         \
   jbas  =o def2-TZVPP
$basis    file=basis
$rundimensions
   dim(fock,dens)=84276
   natoms=16
   nshell=136
   nbf(CAO)=408
   dim(trafo[SAO<-->AO/CAO])=1144
   rhfshells=1
   nbf(AO)=360
$scfmo   file=mos
$scfiterlimit       300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   2500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$ricore      1000
$rij
$jbas    file=auxbasis
$denconv     0.10000000E-08
$cbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$scfconv   8
$scfdamp   start=0.700  step=0.050  min=0.050
$last SCF energy change = -.25166520E-06
$charge from ridft
         -0.000 (not to be modified here)
$last RIRPA energy change= -.10328183E-10
$closed shells
 ag      1-13                                   ( 2 )
 bg      1-3                                    ( 2 )
 au      1-3                                    ( 2 )
 bu      1-13                                   ( 2 )
$energy    file=energy
$grad    file=gradient
$last step     ridft
$dipole from ridft
  x    -0.00000000000000    y     0.00000000000003    z    -0.00000000000000    a.u.
   | dipole | =    0.0000000000  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11443209096866E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-458.4049997487    -1385.143193098     597.5641491038    -51.34852083208    -2.152245315535     382.6748103935
$hessian (projected)  file=hessian
$dipgrad  file=dipgrad
$vibrational spectrum    file=vibspectrum
$vibrational normal modes    file=vib_normal_modes
$vibrational reduced masses
   6.7534442074   6.3017128125   6.2175711773   6.0768825650   6.5654353354
   5.0327038008   1.2389985080   1.1399649073   2.7435422121   5.2606957748
   4.1291431631   7.3079497935   3.5403186441   6.8187936921   3.0337803245
   3.4621261292   2.3696802437   2.5480207689   5.1752080398   5.5377869840
   4.5402368215   5.1731101423   1.0494908204   1.5192194227   1.5149090077
   1.0983920043   1.8375255908   1.7895672751   3.0409418279   2.4248980972
   1.2527407008   1.2839704648   1.5976867166   1.2034689114   1.1387479709
   1.0460744043   1.0458277801   1.4792054923   4.3280921873   7.4401420421
   1.0878424171   1.0694297617   1.0367391462   1.0367383344   1.0992764713
   1.0992791879   1.1022338426   1.1022745891
$nvibro       48
$end
