$title
$operating system unix
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
c  1-2,11-12                                                                   \
   basis =c def2-TZVPP                                                         \
   cbas  =c def2-TZVPP                                                         \
   jbas  =c def2-TZVPP
h  3-5,8-9,13-15                                                               \
   basis =h def2-TZVPP                                                         \
   cbas  =h def2-TZVPP                                                         \
   jbas  =h def2-TZVPP
o  6-7,10,16                                                                   \
   basis =o def2-TZVPP                                                         \
   cbas  =o def2-TZVPP                                                         \
   jbas  =o def2-TZVPP
$basis    file=basis
$rundimensions
   dim(fock,dens)=84276
   natoms=16
   nshell=136
   nbf(CAO)=408
   dim(trafo[SAO<-->AO/CAO])=504
   rhfshells=1
   nbf(AO)=360
$scfmo   file=mos
$scfiterlimit       300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$ricore     1500
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$scfconv   8
$denconv 1D-08
$scfdamp   start=0.700  step=0.050  min=0.050
$marij
$disp3
$last SCF energy change = -.66091843E-09
$charge from ridft
         -0.000 (not to be modified here)
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$energy    file=energy
$grad    file=gradient
$cbas    file=auxbasis
$dipole from ridft
  x    -0.00021476848610    y    -0.00033486288250    z     0.00063880669182    a.u.
   | dipole | =    0.0019128077  debye
$closed shells
 a       1-32                                   ( 2 )
$last step     ridft
$orbital_max_rnorm 0.28589438689616E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-458.4131532797    -1385.310227854     597.6471742640    -51.34893585355    -2.152298970559     382.7592918940    -.8156759925680E-02
$end
